@charset "UTF-8";
/*Обнуление CSS*/
* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*Конец обнуления CSS*/
.wraper {
  width: 0 auto;
}
.wraper .hi {
  padding: 50px;
  padding-top: 30px;
  background-color: #445162;
  height: 323px;
  width: 100%;
}
.wraper .hi .hi__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.wraper .hi .hi__row .hi__body .hi__title {
  font-family: Arial;
  font-size: 60px;
  line-height: 1.2;
  text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.3);
  color: #ffffff;
  margin-bottom: 30px;
}
.wraper .hi .hi__row .hi__body li {
  font-family: Arial;
  font-size: 20px;
  line-height: 22px;
  font-weight: 400;
  text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.3);
  color: #ffffff;
  background-image: url(../img/check_icon_349.png);
  background-repeat: no-repeat;
  background-position: 0 0;
  padding-left: 40px;
  margin-bottom: 17px;
}
.wraper .what {
  padding: 50px;
}
.wraper .what .what__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.wraper .what .what__row .what__img {
  margin-right: 30px;
}
.wraper .what .what__row .what__body .what__title {
  font-family: Arial;
  font-size: 30px;
  line-height: 36px;
  font-weight: 400;
  color: #445161;
  margin-bottom: 30px;
}
.wraper .what .what__row .what__body .what__text {
  font-family: Arial;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #333333;
}
.wraper .what .what__row .what__body .what__text p {
  margin-bottom: 30px;
}
.wraper .columns {
  text-align: center;
  background-color: #f5f5f5;
  padding-top: 50px;
}
.wraper .columns .columns__title {
  font-family: Arial;
  font-size: 30px;
  line-height: 36px;
  font-weight: 400;
  color: #445161;
}
.wraper .columns .columns__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 50px;
  margin-top: 30px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.wraper .columns .columns__row .columns__item .item__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.wraper .columns .columns__row .columns__item .item__row .item__body {
  margin-left: 15px;
  text-align: left;
  margin-right: 15px;
  margin-bottom: 50px;
}
.wraper .columns .columns__row .columns__item .item__row .item__body .item__title {
  font-family: Arial;
  font-size: 24px;
  line-height: 30px;
  font-weight: 400;
  color: #445161;
}
.wraper .columns .columns__row .columns__item .item__row .item__body .item__text {
  width: 360px;
  height: 107px;
  font-family: Arial;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #333333;
}
.wraper .vertical {
  margin-top: 40px;
  text-align: center;
  width: 990px;
  margin: 0 auto;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
.wraper .vertical .vertical__title {
  font-family: Arial;
  font-size: 30px;
  line-height: 36px;
  font-weight: 400;
  color: #445161;
  text-align: center;
  margin-bottom: 30px;
}
.wraper .vertical .vertical__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.wraper .vertical .vertical__row .vertical__column {
  width: 300px;
  background-color: #445162;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 1px solid #445162;
  border-radius: 5px;
}
.wraper .vertical .vertical__row .vertical__column .vertical__column-title {
  padding: 15px;
  font-family: Arial;
  font-size: 24px;
  line-height: 30px;
  font-weight: 400;
  text-transform: uppercase;
  color: #ffffff;
}
.wraper .vertical .vertical__row .vertical__column .vertical__column-subtitle {
  padding: 20px;
  font-family: Arial;
  font-size: 40px;
  line-height: 30px;
  font-weight: 400;
  color: #445162;
  background-color: #fff;
}
.wraper .vertical .vertical__row .vertical__column .vertical__column-text {
  text-align: left;
  padding: 15px;
  font-family: Arial;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: #ffffff;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
.wraper .vertical .vertical__row .vertical__column .vertical__column-btn {
  background-color: #fff;
  margin: 30px;
  border-radius: 5px;
}
.wraper .vertical .vertical__row .vertical__column .vertical__column-btn .vertical__column-btn-text {
  font-family: Arial;
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
  color: #445161;
  padding: 13px;
}
.wraper .footer {
  background-color: #f5f5f5;
  text-align: center;
  margin-top: 50px;
  padding: 30px;
}
.wraper .footer .footer__text {
  font-family: Arial;
  font-size: 12px;
  line-height: 24px;
  font-weight: 400;
  letter-spacing: 0.025em;
  color: #445162;
}