@charset "UTF-8";
/*Обнуление CSS*/
* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*Конец обнуления CSS*/
* {
  background-color: #e63ee6;
  color: aliceblue;
}

.content {
  display: flex;
}

.card {
  background-color: #630b0b;
  margin: 20px;
  flex: 0 1 33.333%;
}

.card-row {
  display: flex;
  margin-bottom: 10px;
}

.img-cont-row {
  flex: 0 0 33.333%;
  position: relative;
  min-height: 200px;
}

.img-item-row {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.img-cont {
  max-width: 100%;
  padding-bottom: 100%;
  overflow: hidden;
  background-color: #630b0b;
  position: relative;
}

.img-item {
  max-width: 100%;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  position: absolute;
  top: 0;
  left: 0;
}

.text {
  background-color: #630b0b;
  padding: 30px;
  font-size: 20px;
}