@charset "UTF-8";
/*Обнуление CSS*/
* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*Конец обнуления CSS*/
.wraper {
  width: 0 auto;
}
.wraper .hi {
  padding: 50px;
  padding-top: 30px;
  background-color: #445162;
  height: 323px;
  width: 100%;
}
.wraper .hi .hi__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.wraper .hi .hi__row .hi__body .hi__title {
  font-family: Arial;
  font-size: 60px;
  line-height: 1.2;
  text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.3);
  color: #ffffff;
  margin-bottom: 30px;
}
.wraper .hi .hi__row .hi__body li {
  font-family: Arial;
  font-size: 20px;
  line-height: 22px;
  font-weight: 400;
  text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.3);
  color: #ffffff;
  background-image: url(../img/check_icon_349.png);
  background-repeat: no-repeat;
  background-position: 0 0;
  padding-left: 40px;
  margin-bottom: 17px;
}
.wraper .what {
  padding: 50px;
}
.wraper .what .what__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.wraper .what .what__row .what__img {
  margin-right: 30px;
}
.wraper .what .what__row .what__body .what__title {
  font-family: Arial;
  font-size: 30px;
  line-height: 36px;
  font-weight: 400;
  color: #445161;
  margin-bottom: 30px;
}
.wraper .what .what__row .what__body .what__text {
  font-family: Arial;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #333333;
}
.wraper .what .what__row .what__body .what__text p {
  margin-bottom: 30px;
}
