@import "clean-style.scss";
.blok {
  display: flex;
  text-align: center;
  .blok__row {
    display: flex;
    flex-wrap: wrap;
    border: 20px solid #f3e410;
    margin: 20px;
    .blok__column {
      border: 20px solid #dd0cc1;
      .blok__item {
        display: flex;
        justify-content: center;
        background-color: #11aeca;
        padding: 50px;
        font-size: 50px;
        color: #ffffff;
        font-weight: 700;
      }
    }
  }
}
